body {
  background: #f4f6f9;
}

section {
  position: relative;
}

.full-width {
  width: 100%;
}

.hero-bottom {
  position: absolute;
  top: 240px;
  right: 0;
  width: 525px;
}

.hero-bottom img {
  width: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 0 534px;
}


.hero-text-desktop {
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
}

.hero-text-desktop h1 {
  font-family: "PlayfairDisplay", serif;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 38px;
  letter-spacing: 0.63px;
  text-align: center;
}

.hero-text-desktop h1 span.red {
  color: #f32474;
}

.hero-text-desktop p {
  max-width: 340px;
  margin: 15px auto 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
  color: #8c93bd;
}

section.home-services {
  padding: 0 0 60px;
}

.services-section {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
  -moz-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
  -ms-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
  -o-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
  box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
  position: relative;
  top: -106px;
  width: 100%;
  margin: 0 auto -106px;
  background-color: #fff;
  overflow: hidden;
}

.section-title {
  position: relative;
  min-height: 74px;
  padding: 25px 0;
}

.section-title.services-title {
  padding: 40px 0 0;
}

.section-title h2 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4.375rem;
  text-transform: uppercase;
  letter-spacing: 4.58px;
  opacity: 0.02;
}

.section-title.services-title h2 {
  display: none;
}

.section-title h3 {
  position: relative;
  padding: 0 0 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 1.44px;
  opacity: 0.9;
}

.section-title h3::before {
  width: 40px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #f32474;
}

.services-container {
  margin-top: 40px;
  padding: 0 15px 30px;
}

.service-wrapper {
  margin-bottom: 36px;
}

.service-icon {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}

.service-detail {
  width: 100%;
  margin: 16px auto 0;
}

.service-detail h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 1.38px;
  color: #4b527c;
}

.service-detail p {
  margin-top: 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.38px;
  color: #8c93bd;
  text-align: center;
}

section.home-clients {
  padding: 0 0 60px;
  overflow: hidden;
}

.clients-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section-title.clients-title h2 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.section-title.clients-title h3 {
  text-align: center;
  color: #212529;
}

.section-title.clients-title h3::before {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.page-ranking-content {
  line-height: 28px;
  color: #4b527c;
  font-size: 14px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.page-ranking-content span {
  font-weight: 700;
}

.seo-section {
  position: relative;
  background: rgb(48, 35, 174); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(48, 35, 174, 1) 0%, rgba(200, 109, 215, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(48, 35, 174, 1) 0%, rgba(200, 109, 215, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(48, 35, 174, 1) 0%, rgba(200, 109, 215, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3023ae', endColorstr='#c86dd7', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
}
