@media (min-width: 576px) {
  .services-container {
    padding: 0 50px 30px;
  }
}

@media (min-width: 768px) {
  .hero-text-desktop {
    margin: 0;
  }

  .hero-text-desktop h1 {
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: left;
  }

  .hero-text-desktop p {
    margin: 30px 0 0;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: left;
  }

  section.home-services {
    padding: 0 0 160px;
  }

  .services-section {
    top: -156px;
    margin: 0 auto -156px;
  }

  .section-title {
    min-height: 122px;
    padding: 40px 0;
  }

  .section-title.services-title {
    padding: 40px 0;
  }

  .section-title h2 {
    font-size: 6.375rem;
  }

  .section-title.services-title h2 {
    display: block;
  }

  .section-title h3 {
    padding: 0 0 20px;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 1.44px;
  }

  .services-container {
    padding: 0 30px;
  }

  .service-wrapper {
    margin-bottom: 72px;
  }

  .service-detail {
    margin: 24px auto 0;
  }

  .service-detail h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 16px;
    letter-spacing: 1.62px;
  }

  .service-detail p {
    display: block;
  }

  section.home-clients {
    padding: 0 0 135px;
    overflow: initial;
  }

  .section-title.clients-title h2 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 0;
  }

  .section-title.clients-title h3 {
    text-align: left;
  }

  .section-title.clients-title h3::before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 0;
  }
}

@media (min-width: 992px) {
  .hero-bottom {
    width: 887px;
  }

  .hero-section {
    padding: 235px 0 340px;
  }

  .hero-text-desktop {
    max-width: 548px;
  }

  .hero-text-desktop h1 {
    font-size: 3.125rem;
    line-height: 68px;
  }

  .hero-text-desktop p {
    margin: 30px 0 0;
    font-size: 1.125rem;
  }

  section.home-services {
    padding: 0 0 30px;
  }

  .services-section {
    top: -208px;
    margin: 0 auto -208px;
  }

  .section-title {
    min-height: 180px;
    padding: 70px 0;
  }

  .section-title.services-title {
    padding: 70px 0;
  }

  .section-title h2 {
    font-size: 9.375rem;
  }

  .services-container {
    margin-top: 35px;
  }
}
